@import 'fonts.css';

body {
  -webkit-text-size-adjust: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 20px;
  grid-template-areas:
    'site-header     page-content'
    'site-navigation page-content'
    'footer          footer';
  font-family: var(--font-stack-sans-serif);
  font-size: 16px;
  line-height: 1.5;
}

body > header {
  grid-area: site-header;
  margin: 20px 0;
}
body > header > p {
  margin: 0;
  line-height: 1;
}
body > header > p > a {
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
body > header > h1 {
  margin: 0;
  line-height: 1;
}
body > header > h1 > a {
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 36px;
  color: black;
  position: relative;
}
body > header > h1 > a::after {
  position: absolute;
  top: 0;
  content: '📚';
  font-size: 48px;
}

body > main {
  grid-area: page-content;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
body > main > p#project-title {
  margin: 1em 0 0 0;
  text-align: right;
}
body > main > p#project-title > a {
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
  margin: 0 10px;
  padding: 6px 20px;
  background-color: black;
  color: white;
}
body > main > h1 {
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  border: 4px solid black;
  line-height: 1.5;
  overflow-wrap: break-word;
}
body > main > h1 > a[aria-hidden]::before {
  content: '#';
  display: inline-block;
  padding: 0 5px 0 1px;
  background-color: black;
  color: white;
  margin-right: 10px;
}
body > main > h2 {
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 6px 20px 0 0;
  margin: 30px 10px 10px 30px;
}
body > main > h2::after {
  display: block;
  content: ' ';
  font-size: 0;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
}
body > main > h2 > a[aria-hidden]::before {
  content: '#';
  display: inline-block;
  padding: 0 10px 0 12px;
  background-color: black;
  color: white;
  margin: 0;
}
body > main > h2 > code {
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 20px;
}
body > main > h2#table-of-contents + ul {
}
body > main p {
  margin: 2em 0;
}
body > main a {
  color: black;
}
body > main ul {
  padding-left: 1.5em;
}
body > main ul li {
  margin: 1em 0;
}
body > main > ul#projects-overview {
  list-style-type: none;
  padding-left: 0;
}
body > main > ul#projects-overview > li > a {
  display: inline-block;
  padding: 5px 15px 5px 70px;
  position: relative;
  background-color: black;
  color: white;
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 20px;
  max-width: 100%;
  margin: 10px auto;
}
body > main > ul#projects-overview > li > a::before {
  content: '🐑';
  background-color: white;
  color: black;
  position: absolute;
  left: 0px;
  top: -8px;
  text-align: center;
  line-height: 52px;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  font-size: 36px;
}
body > main > ul#projects-overview > li.cli > a::before {
  content: '🐿';
}
body > main > ul#projects-overview > li.core > a::before {
  content: '🏵';
}
body > main > ul#projects-overview > li.manifest > a::before {
  content: '📑';
}
body > main > ul#projects-overview > li.server > a::before {
  content: '🕸';
}

body > nav {
  grid-area: site-navigation;
}
body > nav > ul {
  padding: 0;
}
body > nav > ul > li {
  list-style-type: none;
}
body > nav > ul > li > a {
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  font-family: var(--font-stack-condensed);
  font-stretch: condensed;
  font-weight: 300;
  font-size: 20px;
}
body > nav > ul > li > ul {
  border: 4px solid black;
  padding: 10px;
  margin: 0 0 20px 0;
}
body > nav > ul > li > ul > li {
  list-style-type: none;
}
body > nav > ul > li > ul > li > a {
  color: black;
  display: block;
  border-bottom: 2px solid black;
  padding: 10px 10px 5px 10px;
  font-family: var(--font-stack-sans-serif);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}
body > nav > ul > li > ul > li:last-of-type > a {
  border-bottom-style: none;
}
body > nav > ul > li > ul > li > ul {
  display: none;
}

body > footer {
  text-align: center;
  margin: 2em 0 1em 0;
  border-top: 4px solid black;
  padding-top: 1em;
  grid-area: footer;
}
body > footer a {
  color: black;
}

@media (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'site-header'
      'site-navigation'
      'page-content'
      'footer';
  }
  body > nav > ul {
    display: none;
  }
}
