<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Commons Host Documentation</title>
    <link rel="stylesheet" href="/assets/styles/page.css">
    <link rel="alternate stylesheet" href="/assets/styles/grayscale.css">
    <link rel="stylesheet" href="/assets/styles/atom-one-dark.css">
    <link rel="icon" type="image/svg+xml" href="/assets/images/commonshost-round-border.svg">
  </head>
  <body>
    <header>
      <p><a href="https://commons.host">🐑 Commons Host</a></p>
      <h1><a href="/">Documentation</a></h1>
    </header>
    <main>
      <p id="project-title">
        <a href="{{ project.path }}">{{ project.title }}</a>
      </p>
      {{ page.content }}
    </main>
    <nav>
      {{ site.navigation }}
    </nav>
    <footer>
      <p>Text and code are published under the <a href="https://www.isc.org/downloads/software-support-policy/isc-license/">ISC license</a>.</p>
    </footer>
  </body>
</html>
